body {
  border: 3px solid #fffefe;
  background-color: #a5aca3;
  display: flex; /* помещаем все содержимое в контейнер */
  justify-content: center; /* центрирование по горизонтали */
  align-items: center; /* центрирование по вертикали */
  min-height: 100vh; /* занимаем всю высоту окна браузера */
  margin: 0;
  /* background-image: url('1.png')                  убираем отступы body по умолчанию */
}
h6 {
  color: white;
}
h7 {
  color: white;
}
